@keyframes rotator-clockwise {
    transition: border;
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotator-counter {
    transition: border;
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.outerSpinner {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 15px solid;
    border-color: transparent #AF9164 transparent #AF9164;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    animation: rotator-counter 3s linear infinite;
}

.innerSpinner {
    width: 85%;
    height: 85%;
    border-radius: 50%;
    border: 15px solid;
    border-color: #56282D transparent #56282D transparent;
    animation: rotator-clockwise 2s linear infinite;
}
