form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

label {
    display: flex;
    flex-direction: column;

    margin: 15px 0;
}

input[type=text],
input[type=password],
button,
.passwordField {
    all: unset;
    font-size: 1.2rem;
}

input[type=text], .passwordField  {
    border-bottom: 3px solid #AF9164;
    padding: 3px 15px;
    width: 300px;
}

input[type=text]:hover,
.passwordField:hover,
input[type=text]:focus,
.passwordField.active {
    border-bottom: 3px solid #56282D;
}

input[type=text]::selection,
.passwordField::selection {
    background-color: #AF9164;
    color: #F4F4F9;
}

.passwordField input[type=text],
               input[type=password] {
    all: unset;
    flex-grow: 1;
}

.passwordField {
    display: flex;
    flex-direction: row;
    align-items: space-between;
}

button {
    cursor: pointer;
    background-color: #B8D8D9;
    padding: 5px 15px;
}

button:hover {
    background-color: #56282D;
    color: #B8DBD9;
}
