table {
    width: 100;
    text-align: left;
    margin: 5px auto;
}

th {
    color: #AF9164;
    font-size: 1.2rem;
    padding: 3px 25px;

    cursor: pointer;
}

.order, th:hover {
    color: #56282D;
}

td {
    padding: 3px 25px;
}
