.App {
    background-color: #F4F4F9;
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100%;
}

.mainView {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
}
