@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');

html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    font-family: 'Inria sans', sans-serif;
    font-size: 16px;
    color: #586F7C;
}
